.container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 5vh;
    margin-bottom: 2vh;
}
.form-label{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 15px 0 5px 0;
}
.form-input{
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--neutral-gray-color);
    box-sizing: border-box;
}

.form-foto-button{
    width: 30%;
    padding: 10px;
    border: 1px dashed var(--neutral-gray-color);
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    box-sizing: border-box;
}
.form-button{
    width: 30%;
    margin-top: 15px;
    border: none;
    background: var(--light-green-color);
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--white-text-color);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
.form-button:hover{
    background-color: var(--dark-green-color);
}
.fa-floppy-disk{
    color: var(--white-text-color);
}
@media(min-width: 768px){
    .form-input, .form-foto-button, .form-button{

    }
}
@media (max-width: 768px) {
    .form-input, .form-foto-button, .form-button{
        width: 100%;
        box-sizing: border-box;
    }
    
}