.buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 15px;
}

.button-approve {
    padding: 5px;
    color: var(--white-text-color);
    background-color: var(--light-green-color);
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button-approve:hover {
    background-color: var(--dark-green-color);
    transition: background-color 0.2s;
}

.button-reject {
    padding: 5px;
    color: var(--white-text-color);
    background-color: red;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button-reject:hover {
    background-color: darkred;
    transition: background-color 0.2s;
}