.footer {
    width: 100%;
    background-color: var(--dark-green-color);
    color: white;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*UPPER PART*/

.footer-top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-bottom: 70px;
}

/* LOGO */
.footer-logo{
    padding-left: 20px;
}

.footer-logo img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/* UPPER MENU */
.footer-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-nav-item {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer-nav-item:hover {
    color: #ccc;
}

/* SOCIAL ICONS */
.footer-top i {
    justify-self: end;
    font-size: 28px;
    margin-left: 20px;
    cursor: pointer;
}

.footer-top i:hover {
    color: #ccc;
}
.footer-icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
    font-size: 28px;
    justify-self: end;
}

.footer-icons i {
    cursor: pointer;
}

.footer-icons i:hover {
    color: #ccc;
}
/*LOWER PART*/

.footer-bottom {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
}
