/* Styl pro pc */


.footer {
    background-color: var(--dark-green-color);
    color: var(--white-text-color);
    padding: 40px 0 20px 0;
    margin-top: auto;
    font-size: 1.3rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

/*Logo */
.footer-logo {
    width: 60px;
}

.footer-logo img:hover {
    transition: transform 0.2s, color 0.2s;
    transform: scale(1.5);
}

.footer-logo img {
    height: 10vh;
    width: auto;
    object-fit: contain;

}

/*Navigace uprostřed */
.footer-nav {
    display: flex;
    gap: 25px;
}

.footer-nav-item {
    color: #bdc3c7;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.footer-nav-item:hover {
    color: white;
    text-decoration: underline;
}

/*Ikony vpravo */
.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-icons a {
    color: #bdc3c7;
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.2s;
}

.footer-icons a:hover {
    color: white;
    transform: scale(1.5);
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Jemná čára */
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    color: #7f8c8d;
    font-size: 0.8rem;

    /* Flex pro zarovnání na střed */
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-bottom a {
    color: #7f8c8d;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: white;
}

.fa-facebook:hover {
    color: steelblue;
}

.fa-instagram:hover {
    color: crimson;
}

@media (max-width: 768px) {

    .footer-top {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }


    .footer-nav {
        flex-direction: column;
        gap: 15px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }
}