.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* Horní lišta navbaru */
.upper-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--footer-background-color);
    justify-content: flex-end;
    font-size: 0.9rem;
    padding: 1vh 0 1vh 0;
}
.upper-nav-items{
    margin-left: 5px;
    margin-right: 5px;
    color: var(--white-text-color);
}

.upper-nav-items:hover{
    color: gray;
}

/* Dolní navbar */
.lower-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 10vh;
    justify-content: space-between;
    width: 100%;
    background-color: var(--navbar-background-color, #333);


}


/* Logo vlevo */
.lower-nav-logo {
    width: 60px;
    height: 60px;
}

.lower-nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


/* Pravá část s položkami */
.lower-nav-items {
    display: flex;
    gap: 20px;
    padding-right: 1vh;
}

/* Jednotlivé odkazy */
.lower-nav-item {
    color: var(--white-text-color, #fff);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.lower-nav-item:hover {
    text-decoration: underline;
}
