/*  */

.home-grid {
    display: grid;
    grid-template-columns: 4fr 1fr; /* 2 díly vlevo, 1 díl vpravo */
    gap: 20px;
    margin-top: 20px;
    max-height: 70vh;
    object-fit: cover;
    width: 90%;
}

/* Levý sloupec (Slider) */
.location-slider {
    max-height: 70vh;     /* Vyplní celou výšku */
    margin-left: 15vh;
    width: 90%;
    border: 1px solid #ccc;
    background-color: #fff;
    /*padding: 0;         /* Padding u slideru obvykle nechceme, aby byla fotka až ke kraji */
    overflow: hidden;   /* Aby nic nelezlo ven */
    position: relative;
    border-radius: 8px;
}

/* Pravý sloupec (Kontejner pro dva boxy) */
.locations-container {
    margin-left: 5vh;
    max-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column; /* Pod sebe */
    gap: 20px;
    height: 100%; /* Vyplní celou výšku pravého sloupce */
}

/* Jednotlivý box vpravo */
.location-box {
    flex: 1; /* DŮLEŽITÉ: Tohle donutí boxy, aby si rozdělily místo (každý 50%) */
    border: 1px solid #ccc;
    padding: 0 15px 15px 15px ;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden; /* Kdyby text přetékal */
    max-height: 30vh;
}
.location-box h2{
    font-weight: bold;
    font-size: 1.5rem;
}
.location-box img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
    max-height: 200px;
}

/* Obrázky uvnitř (aby se nedeformovaly) */
.location-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* =========================================
   ABOUT US (3 sloupce)
   ========================================= */
.about-us-grid {
    margin-left: 15vh;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 stejné sloupce */
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.about-us-box {
    display: flex;
    flex-direction: column; /* Ikona a text pod sebe */
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}


/* =========================================
   RESPONZIVITA (Mobil)
   ========================================= */
@media (max-width: 900px) {
    .home-grid {
        grid-template-columns: 1fr; /* Všechno pod sebe */
        height: auto; /* Výška se přizpůsobí obsahu */
    }

    .location-slider {
        height: 300px; /* Na mobilu menší slider */
    }

    .locations-container {
        height: auto;
    }

    .about-us-grid {
        grid-template-columns: 1fr; /* Karty o nás pod sebe */
    }
}