/*  */

.home-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    margin-top: 20px;
    max-height: 70vh;
    object-fit: cover;
    width: 90%;
}

/* Levý sloupec (Slider) */
.location-slider {
    height: 70vh;
    margin-left: 15vh;
    width: 90%;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

/* Pravý sloupec (Kontejner pro dva boxy) */
.locations-container {
    margin-left: 5vh;
    max-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

/* Jednotlivý box vpravo */
.location-box {
    flex: 1; /* DŮLEŽITÉ: Tohle donutí boxy, aby si rozdělily místo (každý 50%) */
    border: 1px solid #ccc;
    padding: 0 15px 15px 15px ;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    max-height: 30vh;
}
.location-box h2{
    font-weight: bold;
    font-size: 1.5rem;
}
.location-box img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
    max-height: 200px;
}

/* ABOUT US */
.about-us-grid {
    margin-left: 15vh;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.about-us-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid var(--neutral-gray-color);
    border-radius: 8px;
    background-color: #fff;
}


@media (max-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr; /* Všechno pod sebe */
        height: auto; /* Výška se přizpůsobí obsahu */
    }

    .location-slider {
        margin: 0 auto;
        height: 300px; /* Na mobilu menší slider */
    }

    .locations-container {
        height: auto;
    }

    .about-us-grid {
        grid-template-columns: 1fr; /* Karty o nás pod sebe */
    }
}