.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px;
}

.action-card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid var(--neutral-gray-color);
    border-radius: 5px;
    overflow: hidden;
}
.action-card:hover{
    box-shadow: 5px 5px 5px 5px var(--shadow-gray-color);
}

.card-img{
    height: 100%;
    overflow: hidden;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-content{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
a.location-title{
    color: var(--dark-green-color);
    text-decoration: none;
}
a.location-title:hover{
    color: var(--light-green-color);
}

.more{
    color: var(--light-green-color);
    font-weight: bold;
}
a.more:hover{
    color: var(--dark-green-color);
}

@media (min-width: 600px) {
    .location-desc-mobile {
        display: none;
    }
}
/*RESPONZIVITA PRO MOBILY*/
@media (max-width: 600px) {
    .action-card {
        grid-template-columns: 1fr; /* Jen jeden sloupec */
        grid-template-rows: 200px auto; /* Fixní výška pro fotku */
    }

    .locations-list {
        grid-template-columns: 1fr; /* Karty pod sebe */
    }

    .location-desc-pc{
        display: none !important;
    }
    .card-content{
        padding: 5px 15px 15px 15px;
    }

}