.container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 50vh;
    place-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--neutral-gray-color);
    margin-bottom: 50px;
}

.input-label {
    font-weight: bold;
}

.text-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--neutral-gray-color);
    padding: 10px;
    box-sizing: border-box;
}

.password-info {
    font-size: 12px;
    font-style: italic;
}

.consent-text {
    font-size: 14px;
    font-style: italic;
    color: var(--dark-green-color);
}

.reset-password {
    font-size: 14px;
    font-style: italic;
    color: var(--dark-green-color);
}

.reset-password:hover {
    color: var(--light-green-color);
}

.consent-text:hover {
    color: var(--light-green-color);
}

input[type="checkbox"] {
    accent-color: var(--light-green-color);
    cursor: pointer;
}

input[type="radio"] {
    accent-color: var(--light-green-color);
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.radio-option label {
    cursor: pointer;
    font-size: 14px;
    color: var(--text-color);
}


.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.register-button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.register-button:hover {
    filter: brightness(0.9);
}

.google-button {
    width: 100%;
    padding: 12px;
    background-color: var(--google-red-color);
    border: 1px solid var(--google-red-color);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Mezera mezi textem a logem */
}

.google-button:hover {
    filter: brightness(0.9);
}

.google-button-a {
    text-decoration: none;
}

/* Barva Google ikonky */
.google-button .fa-google {
    color: white;
}

@media (max-width: 768px) {
    .container {
        height: auto;
    }

    .form {
        width: 70%;

    }

    .text-input {
        padding: 5px;
    }


}