:root {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    --background-color: white;
    --text-color: black;
    --navbar-background-color: #669900;
    --footer-background-color: #3c4e23;
    --white-text-color: white;
}
html, body {
    margin:0;
    padding: 0;
    background: var(--background-color);
}

.header{
    width: 100%;
}
/* Horní lišta navbaru */
.upper-nav {
    width: 100%;
    background-color: var(--footer-background-color);
    padding: 5px 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}
.upper-nav-items{
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 30px;
}

/* Dolní navbar */
.lower-nav {
    max-height: 60px;
    display: flex;
    justify-content: space-between; /* levá vs pravá část */
    align-items: center;
    width: 100%;
    background-color: var(--navbar-background-color, #333);
    padding: 10px 20px;
}

/* Logo vlevo */
.lower-nav-logo {
    width: 60px;
    height: 60px;
}

.lower-nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


/* Pravá část s položkami */
.lower-nav-items {
    display: flex;
    gap: 20px;
    padding-right: 0;
}

/* Jednotlivé odkazy */
.lower-nav-item {
    color: var(--white-text-color, #fff);
    text-decoration: none;
    font-weight: 500;
}

.lower-nav-item:hover {
    text-decoration: underline;
}
