:root {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    --background-color: white;
    --text-color: black;
    --light-green-color: #669900;
    --dark-green-color: #3c4e23;
    --white-text-color: white;
    --neutral-gray-color: #afafaf;
    --shadow-gray-color: #c8c8c8;
    --star-gold-color: #ffc107;
    font-size: 16px;
}
html, body {
    margin:0;
    padding: 0;
    background: var(--background-color);
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.noImage{
    max-width: 30vh;
}