:root {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    --background-color: white;
    --text-color: black;
    --navbar-background-color: #669900;
    --footer-background-color: #3c4e23;
    --white-text-color: white;
    font-size: 16px;
}
html, body {
    margin:0;
    padding: 0;
    background: var(--background-color);
    width: 100%;
}