{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>

    {% if all_users %}
        <table>
            <tr>
                <th>ID</th>
                <th>Přezdívka/Jméno</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            {% for user in all_users %}
                <tr>
                    <td>{{ user['id'] }}</td>
                    <td>{{ user['name'] }}</td>
                    <td>{{ user['email'] }}</td>

                    <td>
                        <form action="/all_users/update" method="post">
                            <input type="hidden" name="user_id" value="{{ user['id'] }}">
                            <select name="role">
                                <option value="1" {% if user['role'] == 1 %}selected{% endif %}>Administrátor</option>
                                <option value="2" {% if user['role'] == 2 %}selected{% endif %}>Redaktor</option>
                                <option value="3" {% if user['role'] == 3 %}selected{% endif %}>Uživatel</option>
                            </select>
                            <button type="submit" title="Uložit změnu role"><i class="fa-solid fa-pencil"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Žádní uživatelé</p>
    {% endif %}

{% endblock %}
