{% extends "base.html" %}
<!--Title-->
{% block title %}{{ title }}{% endblock %}


{% block content %}
    {% if request.session.get("user")['role']<3 %}
        <!--Toto vidí jen admin a redaktor-->
        <div>
            <h3>Schválení lokace</h3>
            <div>
                <form action="/approve_location/{{ location.id }}/approve" method="post">
                    <button type="submit">Schválit</button>
                </form>
                <form action="/approve_location/{{ location.id }}/reject" method="post">
                    <button type="submit">Zamítnout</button>
                </form>

            </div>
        </div>
    {% endif %}


    <h1>{{ title }}</h1>
    {% if location['photos'] %}
        <img alt="{{ location['photos'][0]['alt_text'] }}" src="/{{ location['photos'][0]['url'] }}">
    {% else %}
        <img alt="No photo" src="{{ url_for('static', path='img/web/noImage.webp') }}" class="noImage">
    {% endif %}
    <div>
        <!--Add/Remove favorite-->
        <button type=>Přidat do oblíbených</button>
        <!--Add/Remove visited-->
        <button>Přidat do navštívených</button>
    </div>
    {{ location['avg_rating'] }}<br>
    {{ location['date_location_added'] }}<br>
    {{ location['description']  | safe }}

{% endblock %}