{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
<p>Creator: Vojtěch Břenek</p>
    <a href="https://github.com/endurovojta173" target="_blank">Odkaz na Github <i class="fa-brands fa-github"></i></a><br>
    <a href="https://www.instagram.com/endurovojta173/" target="_blank">Odkaz na Instagram <i class="fa-brands fa-instagram"></i></a><br>
    <a href="https://www.facebook.com/endurovojta173/" target="_blank">Odkaz na Facebook <i class="fa-brands fa-facebook"></i></a><br>
{% endblock %}
