{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    {% if error_message %}
        <div style="color: red; border: 1px solid red; padding: 10px; margin-bottom: 10px;">
            <strong>Chyba:</strong> {{ error_message }}
        </div>
    {% endif %}

    <form method="post" action="/create_user">
        <div>
            <label for="name">Přezdívka/Jméno:</label><br>
            <input type="text" id="name" name="name" value="{{ name_value or '' }}" required minlength="1">
        </div>
        <br>
        <div>
            <label for="email">E-mail:</label><br>
            <input type="email" id="email" name="email" value="{{ email_value or '' }}" required>
        </div>
        <br>
        <div>
            <label for="password">Heslo:</label><br>
            <input type="password" id="password" name="password" required minlength="8">
            <small>(Min. 8 znaků a z toho 1 znak velkým písmem, 1 číslo, 1 speciální znak !@#$%^&*()-_=+....)</small>
        </div>
        <br>
        <div>
            <input type="radio" id="user" name="role" value="3">
            <label for="user">Uživatel</label><br>
            <input type="radio" id="redactor" name="role" value="2">
            <label for="redactor">Redaktor</label><br>
            <input type="radio" id="admin" name="role" value="1">
            <label for="admin">Administrátor</label>
        </div>
        <button type="submit">Vytvořit uživatele</button>
    </form>
{% endblock %}
