{% extends "base.html" %}
<!--Title-->
{% block title %}{{ title }}{% endblock %}


<body>

{% block content %}

<h1>{{ title }}</h1>

<div class="locations-list">
    {% for loc in locations %}
    <div class="location-card">
        <!--Photo-->
        <div class="loc-thumb">
            {% if loc['photos'] %}
                <a href="{{url_for('location_detail',  location_id=loc['id']) }}">
                    <img alt="{{ loc['photos'][0]['alt_text'] }}" src="/{{ loc['photos'][0]['url'] }}">
                </a>
            {% else %}
                <img alt="No photo" src="{{url_for('static', path='img/web/noImage.webp') }}"  class="noImage">
            {% endif %}
        </div>

        <div class="loc-body">
            <!--Name-->
            <a href="{{url_for('location_detail',  location_id=loc['id']) }}">
            <h2 class="loc-title">{{ loc['name'] }}</h2>
            </a>
            <!--Rating-->
            <div class="loc-rating">
                {% set filled = (loc['avg_rating'] | default(0)) | int %}
                {% for i in range(1,6) %}
                    <span class="star {% if i <= filled %}filled{% endif %}">★</span>
                {% endfor %}
            </div>
            <!--Description-->
            <p class="loc-desc">
                {{ loc['description'] | truncate(250, True, '...') | safe}}
                <a href="{{url_for('location_detail',  location_id=loc['id']) }}" class="more">Více...</a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>





{% endblock %}
</body>