{% extends "base.html" %}
{# Title #}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/rating.css') }}">
{% endblock %}
{% block title %}{{ title }}{% endblock %}
<body>

{% block content %}
    <h1>{{ title }}</h1>
    <!--Editace lokace-->
    {% if request.session.get("user") and request.session.user.role <= 2 %}
        <a href="/locations/{{ location.id }}/edit_location">
            <button type="button"><i class="fa-solid fa-pencil"></i></button>
        </a>
    {% endif %}
    {% if location['photos'] %}
        <img alt="{{ location['photos'][0]['alt_text'] }}" src="/{{ location['photos'][0]['url'] }}">
    {% else %}
        <img alt="No photo" src="{{ url_for('static', path='img/web/noImage.webp') }}" class="noImage">
    {% endif %}
    <div>
        <!--Add/Remove favorite-->
        {% if user_status.is_favorite %}
            <form action="/locations/{{ location["id"] }}/favorite/remove" method="post">
                <button type="submit">Oblíbené (Odebrat) <i class="fa-solid fa-xmark"></i></button>
            </form>
        {% else %}
            <form action="/locations/{{ location["id"] }}/favorite/add" method="post">
                <button type="submit">Přidat do oblíbených <i class="fa-solid fa-star"></i></button>
            </form>
        {% endif %}
        <!--Add/Remove visited-->
        {% if user_status.is_visited %}
            <form action="/locations/{{ location["id"] }}/visited/remove" method="post">
                <button type="submit">Navštíveno (Odebrat) <i class="fa-solid fa-xmark"></i></button>
            </form>
        {% else %}
            <form action="/locations/{{ location["id"] }}/visited/add" method="post">
                <button type="submit">Přidat do navštívených <i class="fa-solid fa-globe"></i></button>
            </form>
        {% endif %}
    </div>

    {# Average rating #}
    <div class="rating-stars" title="Průměrné hodnocení: {{ (location['avg_rating'] or 0) | round(1) }}">

        {# --- Výpočet --- #}
        {# Převedení na int zaokrouhlí dolů #}
        {% set active_stars = location['avg_rating'] | int %}
        {# Zbytek do 5 jsou neaktivní #}
        {% set inactive_stars = 5 - active_stars %}
        {% for i in range(active_stars) %}
            <i class="fa-solid fa-star star-active"></i>
        {% endfor %}
        {% for i in range(inactive_stars) %}
            <i class="fa-solid fa-star star-inactive"></i>
        {% endfor %}
        <span class="rating-value">
        {% if location['avg_rating'] %}
            {{ location['avg_rating'] | round(1) }}
        {% else %}
            0.0
        {% endif %}
    </span>

    </div>
    {{ location['date_location_added'] }}<br>
    {{ location['description']  | safe }}
    {# Hodnoceni uzivatele #}
    {% if request.session.get("user") %}
        <div class="user-rating-section">
            <h4>{% if my_rating > 0 %}Tvoje hodnocení:{% else %}Ohodnoť tuto lokaci:{% endif %}</h4>
            <form action="/locations/{{ location.id }}/rate" method="post">
                <div class="star-buttons">
                    {% for i in range(1, 6) %}
                        <button type="submit" name="stars" value="{{ i }}"
                                class="star-btn active"
                                title="Dát {{ i }} hvězd">
                            <i class="fa-solid fa-star {% if i <= my_rating %}active-star{% endif %}"></i>
                        </button>
                    {% endfor %}
                </div>
            </form>
        </div>
    {% endif %}
    <hr>
    {# Komentáře #}
    <div>
        <h2>Komentáře</h2>
        {% if request.session.get("user") %}
            <h3>Přidat komentář</h3>
            <form method="post" action="/locations/{{ location.id }}/add_comment" enctype="multipart/form-data">
                <div>
                    <label for="comment_text">Komentář:</label><br>
                    <textarea id="comment_text" name="comment_text"></textarea>
                </div>
                <br>
                <button type="submit">Okomentovat</button>
            </form>
        {% endif %}
        {% for com in comments %}
            <div>
                {{ com["author"] }}
                {{ com["date"] }}
                {{ com["text"] | safe }}
            </div>
            {% if request.session.get("user") %}
                {% if com["user_id"] == request.session.user.id or request.session.user.role <= 2 %}
                    <div>
                        <form method="post" action="/locations/{{ location.id }}/delete_comment"
                              onsubmit="return confirm('Opravdu chceš smazat tento komentář?');">
                            <input type="hidden" name="comment_id" value="{{ com['id'] }}">
                            <button type="submit" title="Smazat komentář">Smazat komentář <i
                                    class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
</body>