{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>Přihlášení</h1>

<form method="post" action="/login">
    <div>
        <label id = "email" >Email</label><br>
        <input type="email" id="email" name="email" value="{{ email_value or '' }}" required>
    </div>
    <div>
        <label id="password">Heslo</label><br>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
    <a href="{{ url_for('reset_password_page') }}">Zapomenuté heslo</a>
    </div>
    <div>
        <button type="submit">Přihlásit se</button>
    </div>
</form>

{% endblock %}
