{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1>{{ title }}</h1>

    <span>Jméno: {{  request.session.user.name }}</span><br>
    <span>Email: {{ request.session.user.email }}</span><br>
    {% if request.session.user.role == 3 %}
        <span>Role: Uživatel</span><br>
    {% elif request.session.user.role == 2 %}
         <span>Role: Redaktor</span><br>
    {% elif request.session.user.role == 1 %}
         <span>Role: Administrátor</span><br>
    {% endif %}
    <span>Počet přidaných lokací: {{ user_stats['added'] }} </span><br>
    <span>Počet navštívených lokací: {{ user_stats['visited'] }}</span><br>
    <span>Počet hodnocených lokací: {{ user_stats['rated'] }}</span><br>
    <span>Počet komentovaných lokací: {{ user_stats['commented'] }}</span><br>
    <!--Show added locations-->
    <button class="toggle-btn" onclick="toggleSection('added_locations-box', this)">Moje přidané lokace <span class="arrow">▼</span></button>
    <div id="added_locations-box" class="toggle-content" style="display: none;">
        {% if my_added_locations %}
            <ul>
                {% for loc in my_added_locations %}
                    <li><a href="{{url_for('location_detail',  location_id=loc['id']) }}">{{ loc.name }}</a>
                    {% if loc['photo'] %}
                        <a href="{{url_for('location_detail',  location_id=loc['id']) }}">
                            <img alt="{{ loc['photo']['alt_text'] }}" src="/database/{{ loc['photo']['url'] }}">
                        </a>
                        {% else %}
                            <img alt="No photo" src="{{url_for('static', path='img/web/noImage.webp') }}">
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Žádné přidané lokace.</p>
        {% endif %}
    </div>
    <!--Show visited locations-->
    <button class="toggle-btn" onclick="toggleSection('visited_locations-box', this)">Moje navštívené lokace <span class="arrow">▼</span></button>
    <div id="visited_locations-box" class="toggle-content" style="display: none;">
        {% if my_visited_locations %}
            <ul>
                {% for loc in my_visited_locations %}
                    <li><a href="{{url_for('location_detail',  location_id=loc['id']) }}">{{ loc.name }}</a>
                    {% if loc['photo'] %}
                        <a href="{{url_for('location_detail',  location_id=loc['id']) }}">
                        <img alt="{{ loc['photo']['alt_text'] }}" src="/database/{{ loc['photo']['url'] }}">
                        </a>
                    {% else %}
                        <img alt="No photo" src="{{url_for('static', path='img/web/noImage.webp') }}">
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Žádné navštívené lokace</p>
        {% endif %}
    </div>
    <!--Show favorite locations-->
    <button class="toggle-btn" onclick="toggleSection('favorite_locations-box', this)">Moje oblíbené lokace <span class="arrow">▼</span></button>
    <div id="favorite_locations-box" class="toggle-content" style="display: none;">
        {% if my_favorite_locations %}
            <ul>
                {% for loc in my_favorite_locations %}
                    <li><a href="{{url_for('location_detail',  location_id=loc['id']) }}">{{ loc.name }}</a>
                        {% if loc['photo'] %}
                            <a href="{{url_for('location_detail',  location_id=loc['id']) }}">
                            <img alt="{{ loc['photo']['alt_text'] }}" src="/database/{{ loc['photo']['url'] }}">
                            </a>
                        {% else %}
                            <img alt="No photo" src="{{url_for('static', path='img/web/noImage.webp') }}">
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Žádné oblíbené lokace</p>
        {% endif %}
    </div>
    <!--Add location-->
    <a href="{{ url_for('add_location_page') }}"><button>Přidat novou lokaci</button></a>
    <!--My pending locaitons-->
     <button class="toggle-btn" onclick="toggleSection('pending_locations-box', this)">Moje lokace čekající na schválení <span class="arrow">▼</span></button>
    <div id="pending_locations-box" class="toggle-content" style="display: none;">
        {% if my_pending_locations %}
            <ul>
                {% for loc in my_pending_locations %}
                    <li><a href="{{url_for('location_detail',  location_id=loc['id']) }}">{{ loc.name }}</a>
                        {% if loc['photo'] %}
                            <a href="{{url_for('location_detail',  location_id=loc['id']) }}">
                            <img alt="{{ loc['photo']['alt_text'] }}" src="/database/{{ loc['photo']['url'] }}">
                            </a>
                        {% else %}
                            <img alt="No photo" src="{{url_for('static', path='img/web/noImage.webp') }}">
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Žádné lokace čekající na schválení.</p>
        {% endif %}
    </div>
    {% if request.session.user.role  <= 2%}
        <a href="{{ url_for('approve_location_page') }}"><button>Schválit lokaci</button></a>
        {% if request.session.user.role == 1 %}
            <button>Vytvořit uživatele</button>
            <a href="{{ url_for('all_users_page') }}"><button>Zobrazit všechny uživatele</button></a>
        {% endif %}
    {% endif %}


    <script src="/static/js/my_profile.js"></script>
{% endblock %}
