{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/my-profile.css') }}">
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="info-text-container">
            <span>Jméno: {{ request.session.user.name }}</span><br>
            <span>Email: {{ request.session.user.email }}</span><br>
            {% if request.session.user.role == 3 %}
                <span>Role: Uživatel</span><br>
            {% elif request.session.user.role == 2 %}
                <span>Role: Redaktor</span><br>
            {% elif request.session.user.role == 1 %}
                <span>Role: Administrátor</span><br>
            {% endif %}
            <span>Počet přidaných lokací: {{ user_stats['added'] }} </span><br>
            <span>Počet navštívených lokací: {{ user_stats['visited'] }}</span><br>
            <span>Počet hodnocených lokací: {{ user_stats['rated'] }}</span><br>
            <span>Počet komentovaných lokací: {{ user_stats['commented'] }}</span>
        </div>
        <div class="actions-container">
            <!--Show added locations-->
            <div class="action-card">
                <a href="{{ url_for('my_profile_added_locations') }}">
                    <button>Moje přidané lokace</button>
                </a>
            </div>
            <div class="action-card">
                <!--Show visited locations-->
                <a href="{{ url_for('my_profile_visited_locations') }}">
                    <button>Moje navštívené lokace</button>
                </a>
            </div>
            <div class="action-card">
                <!--Show favorite locations-->
                <a href="{{ url_for('my_profile_favorite_locations') }}">
                    <button>Moje oblíbené lokace</button>
                </a>
            </div>
            <div class="action-card">
                <!--Add location-->
                <a href="{{ url_for('add_location_page') }}">
                    <button>Přidat novou lokaci</button>
                </a>
            </div>
            <div class="action-card">
                <!--My pending locaitons-->
                <a href="{{ url_for('my_profile_pending_locations') }}">
                    <button>Moje lokace čekající na schválení</button>
                </a>
            </div>

            {% if request.session.user.role  <= 2 %}
                <div class="action-card">
                    <a href="{{ url_for('approve_location_page') }}">
                        <button>Schválit lokaci</button>
                    </a>
                </div>
                {% if request.session.user.role == 1 %}
                    <div class="action-card">
                        <a href="{{ url_for('create_user_page') }}">
                            <button>Vytvořit uživatele</button>
                        </a>
                    </div>
                    <div class="action-card">
                        <a href="{{ url_for('all_users_page') }}">
                            <button>Zobrazit všechny uživatele</button>
                        </a>
                    </div>
                {% endif %}
            {% endif %}

            <div class="action-card">
                <form action="/my_profile/delete" method="post"
                      onsubmit="return confirm('Opravdu chcete SMAZAT svůj účet? Všechna vaše data (lokace, komentáře, atd...) budou navždy ztracena!');">
                    <button type="submit">Smazat můj účet <i class="fa-solid fa-trash"></i></button>
                </form>
            </div>

            <div class="action-card">
                <form action="/my_profile/update" method="post">
                    <div>
                        <label for="name" style="font-weight: bold;">Jméno:</label><br>
                        <input type="text" id="name" name="name" value="{{ request.session.user.name }}" required>
                    </div>
                    <button type="submit">Změnit jméno</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
