{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <div>
    <p>Vyhledávaný výraz {{ search_term }}</p>
    <p>Počet nalezených lokací {{ number_of_locations }}</p>
    </div>
    {% if locations %}
        {% for loc in locations %}
                    <li><a href="{{url_for('location_detail',  location_id=loc['id']) }}">{{ loc.name }}</a>
                        {% if loc['photo'] %}
                            <a href="{{url_for('location_detail',  location_id=loc['id']) }}">
                            <img alt="{{ loc['photo']['alt_text'] }}" src="/{{ loc['photo']['url'] }}">
                            </a>
                        {% else %}
                            <img alt="No photo" src="{{url_for('static', path='img/web/noImage.webp') }}"  class="noImage">
                        {% endif %}
                    </li>
                {% endfor %}
    {% else %}
        <p>Žádné lokace nenalezeny :(</p>
    {% endif %}
{% endblock %}
